.table {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 32px;
}

th {
    width: 4rem;
    height: 3rem;
    font-size: 1.5rem;
}

td {
    width: 4rem;
    height: 3rem;
    font-size: 1.5rem;
}